<!DOCTYPE html>
<html>
    <head>
        <title>Digit Predictor</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <script type="text/javascript" src="{{ url_for('static', filename='js/predict.js') }}"></script>
        <h1>tensorflow neural network model classifies hand-drawn digits</h1>
        <p>Draw a single number in the box on the left<br>0, 1, 2, 3, 4, 5, 6, 7, 8, or 9.</p>
        <div class="items">
            <div class="items__item">
                <canvas id="original" width="100px" height="200px"></canvas>
                <div class="items__item__label">Canvas Input</div>
            </div>
            <div class="items__arrow"></div>
            <div class="items__item">
                <canvas id="bounded" width="100px" height="100px"></canvas>
                <div class="items__item__label">Segmented</div>
            </div>
            <div class="items__arrow"></div>
            <div class="items__item items__item--mnist">
                <canvas id="mnist" width="28px" height="28px"></canvas>
                <div class="items__item__label">MNIST Input</div>
                <br>
                <button type="button" onclick="requestPrediction()">Predict</button>
            </div>
            <!--
            <div class="items__arrow"></div>
            <div class="items__item items__item--digit">
                <canvas id="mnist" width="100px" height="100px"></canvas>
                <div class="items__item__label">Recognised Output</div>
            </div>
            -->
        </div>
        <!-- canvas sketchpad code -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/mnist-canvas.js') }}"></script>
        <!-- clear canvas button -->
        <button type="button" onclick="sketcher.clear()">Clear</button>
    </body>
</html>
